body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  position: relative;
}

h1 {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

button {
  font-size: 18px;
  padding: 12px 26px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.yes {
  background-color: #ff5e8a;
  color: white;
  cursor: none; /* hide default cursor */
}

/*cursor for yes */
#heartCursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  display: none;
  z-index: 9999;
  mix-blend-mode: multiply;
  filter: drop-shadow(0 0 2px white);
}

.yes:hover {
  background-color: #ff3d72;
  transform: scale(1.05);
}

.no {
  background-color: #ddd;
  color: #555;
  /*cursor: url("stop.png") 16 16, not-allowed;  cursor  for no*/
  position: relative;
  pointer-events: auto;
  transition: left 0.15s ease, top 0.15s ease;
}

#hint {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}
